In [34]:
import pandas as pd
import numpy as np

In [60]:
file1 = 'Bridges Dataset_2020.01.14.xls'
file2 = 'Global Indicators Dataset_2020.01.21.xls'

df_bridges = pd.read_excel(file1)

df_global = pd.read_excel(file2)

In [36]:
df_bridges.head()

,Country,Level 1 Government,Level 2 Government,Bridge Name,Project Code,B2P Fiscal Year,Stage,Individuals Directly Served,GPS (Latitude),GPS (Longitude),Bridge Type,Span (m),Project Type
0,Uganda,Eastern Region,Mbale,Kama,UG101,2018,Complete,5280.0,1.116330,34.252460,Suspended Bridge,90.0,B2P Built
1,Swaziland,NaN,NaN,Mbluzi-Myendle,GO108,2017,Complete,4000.0,-26.294120,31.271240,Suspended Bridge,73.0,B2P Supported
2,Panama,Ngäbe-Buglé,NaN,Llano Bonito,PA122,2017,Complete,1500.0,8.446314,-81.365675,Suspended Bridge,79.0,B2P Supported
3,Nicaragua,Jinotega,Santa María de Pantasma,Puente San Vicente N°1,1008677,2018,Complete,4000.0,13.435012,-85.783800,Suspension Bridge,67.8,B2P Built
4,Nicaragua,Matagalpa,Río Blanco,La Guitarrilla,1008691,2018,Complete,4000.0,13.122785,-85.236833,Suspension Bridge,77.5,B2P Built

In [37]:
df_global.head()

,Country,Rural Access (Year Varies)\nIndex,Rural % of Total Population (2018),Total Rural Population (2018),"Rural Population without Access (2018 Population, Varying RAI Year)",Human Development Index (2019)
0,Afghanistan,22%,0.74505,27695286,2.16023e+07,0.49596
1,Albania,31%,0.39681,1137407,784811,0.791406
2,Algeria,59%,0.27371,11558343,4.73892e+06,0.758978
3,American Samoa,not available,0.12847,7126,not available,not available
4,Andorra,not available,0.11938,9193,not available,0.856781

In [67]:
df_global.replace('not available', np.nan).head()

,Country,Rural Access (Year Varies)\nIndex,Rural % of Total Population (2018),Total Rural Population (2018),"Rural Population without Access (2018 Population, Varying RAI Year)",Human Development Index (2019)
0,Afghanistan,22%,0.74505,27695286.0,21602323.08,0.495960
1,Albania,31%,0.39681,1137407.0,784810.83,0.791406
2,Algeria,59%,0.27371,11558343.0,4738920.63,0.758978
3,American Samoa,NaN,0.12847,7126.0,NaN,NaN
4,Andorra,NaN,0.11938,9193.0,NaN,0.856781

In [68]:
df_global = df_global.replace('not available', np.nan)

In [40]:
df_global.dtypes

Country                                                                 object
Rural Access (Year Varies)\nIndex                                       object
Rural % of Total Population (2018)                                     float64
Total Rural Population (2018)                                          float64
Rural Population without Access (2018 Population, Varying RAI Year)    float64
Human Development Index (2019)                                         float64
dtype: object

In [71]:
def correct_perc(item):
    # try: 
    #     float(item)
    #     return item
    #     print(item)
    # except:
    #     new_item = str(item)
    #     if '%' in item:
    #         new_item = float(item[:-1]) / 100
    #         return float(new_item)
    #     else:
    #         pass

    try:
        item = str(item)
        print(item)
        if '%' in item:
            new_item = float(item[:-1]) / 100
            return float(new_item)
        elif item == 'NaN':
            pass
        else:
            return float(item)
    except:
        print('error')

In [73]:
df_global['Rural Access (Year Varies)\nIndex'] = df_global['Rural Access (Year Varies)\nIndex'].apply(correct_perc)

22%
31%
59%
nan
nan
42%
nan
77%
0.66
nan
nan
95%
67%
82%
99%
0.867
100%
64%
100%
78%
32%
n.a.
error
47%
48%
81%
79%
53%
81%
98%
25%
0.249
81%
20%
nan
82%
n.a.
error
nan
5%
nan
76%
97%
78%
73%
26%
48%
82%
56%
84%
81%
89%
97%
99%
81%
88%
62%
73%
77%
64%
53%
29%
86%
0.216
nan
76%
82%
99%
nan
45%
77%
82%
89%
61%
90%
nan
98%
nan
55%
22%
52%
46%
28%
40%
n.a.
error
98%
81%
61%
94%
66%
0.634
93%
nan
88%
98%
93%
99%
0.714
77%
44%
nan
44%
89%
82%
76%
64%
90%
0.926
0.18
0.419
78%
nan
97%
nan
n.a.
error
78%
0.114
0.231
82%
nan
0.223
100%
nan
31%
70%
nan
61%
82%
66%
n.a.
error
36%
36%
0.204
23%
57%
0.867
100%
nan
nan
83%
28%
37%
0.255
nan
83%
81%
61%
nan
77%
68%
54%
0.372
80%
95%
88%
98%
81%
89%
81%
0.553
71%
nan
83%
75%
29%
74%
nan
0.315
n.a.
error
nan
95%
77%
0.312
21%
95%
92%
89%
89%
97%
5%
79%
nan
86%
nan
49%
nan
74%
0.246
33%
90%
22%
86%
91%
39%
69%
66%
0.531
56%
76%
96%
86%
84%
57%
77%
78%
84%
nan
nan
21%
0.17
65%

In [72]:
df_global['Rural Access (Year Varies)\nIndex'].apply(correct_perc)

22%
31%
59%
nan
nan
42%
nan
77%
0.66
nan
nan
95%
67%
82%
99%
0.867
100%
64%
100%
78%
32%
n.a.
error
47%
48%
81%
79%
53%
81%
98%
25%
0.249
81%
20%
nan
82%
n.a.
error
nan
5%
nan
76%
97%
78%
73%
26%
48%
82%
56%
84%
81%
89%
97%
99%
81%
88%
62%
73%
77%
64%
53%
29%
86%
0.216
nan
76%
82%
99%
nan
45%
77%
82%
89%
61%
90%
nan
98%
nan
55%
22%
52%
46%
28%
40%
n.a.
error
98%
81%
61%
94%
66%
0.634
93%
nan
88%
98%
93%
99%
0.714
77%
44%
nan
44%
89%
82%
76%
64%
90%
0.926
0.18
0.419
78%
nan
97%
nan
n.a.
error
78%
0.114
0.231
82%
nan
0.223
100%
nan
31%
70%
nan
61%
82%
66%
n.a.
error
36%
36%
0.204
23%
57%
0.867
100%
nan
nan
83%
28%
37%
0.255
nan
83%
81%
61%
nan
77%
68%
54%
0.372
80%
95%
88%
98%
81%
89%
81%
0.553
71%
nan
83%
75%
29%
74%
nan
0.315
n.a.
error
nan
95%
77%
0.312
21%
95%
92%
89%
89%
97%
5%
79%
nan
86%
nan
49%
nan
74%
0.246
33%
90%
22%
86%
91%
39%
69%
66%
0.531
56%
76%
96%
86%
84%
57%
77%
78%
84%
nan
nan
21%
0.17
65%

0      0.22
1      0.31
2      0.59
3       NaN
4       NaN
       ...
204     NaN
205     NaN
206    0.21
207    0.17
208    0.65
Name: Rural Access (Year Varies)\nIndex, Length: 209, dtype: float64

In [74]:
df_global['Rural Access (Year Varies)\nIndex'].values

array([0.22 , 0.31 , 0.59 ,   nan,   nan, 0.42 ,   nan, 0.77 , 0.66 ,
         nan,   nan, 0.95 , 0.67 , 0.82 , 0.99 , 0.867, 1.   , 0.64 ,
       1.   , 0.78 , 0.32 ,   nan, 0.47 , 0.48 , 0.81 , 0.79 , 0.53 ,
       0.81 , 0.98 , 0.25 , 0.249, 0.81 , 0.2  ,   nan, 0.82 ,   nan,
         nan, 0.05 ,   nan, 0.76 , 0.97 , 0.78 , 0.73 , 0.26 , 0.48 ,
       0.82 , 0.56 , 0.84 , 0.81 , 0.89 , 0.97 , 0.99 , 0.81 , 0.88 ,
       0.62 , 0.73 , 0.77 , 0.64 , 0.53 , 0.29 , 0.86 , 0.216,   nan,
       0.76 , 0.82 , 0.99 ,   nan, 0.45 , 0.77 , 0.82 , 0.89 , 0.61 ,
       0.9  ,   nan, 0.98 ,   nan, 0.55 , 0.22 , 0.52 , 0.46 , 0.28 ,
       0.4  ,   nan, 0.98 , 0.81 , 0.61 , 0.94 , 0.66 , 0.634, 0.93 ,
         nan, 0.88 , 0.98 , 0.93 , 0.99 , 0.714, 0.77 , 0.44 ,   nan,
       0.44 , 0.89 , 0.82 , 0.76 , 0.64 , 0.9  , 0.926, 0.18 , 0.419,
       0.78 ,   nan, 0.97 ,   nan,   nan, 0.78 , 0.114, 0.231, 0.82 ,
         nan, 0.223, 1.   ,   nan, 0.31 , 0.7  ,   nan, 0.61 , 0.82 ,
       0.66 ,   nan, 0.36 , 0.36 , 0.204, 0.23 , 0.57 , 0.867, 1.   ,
         nan,   nan, 0.83 , 0.28 , 0.37 , 0.255,   nan, 0.83 , 0.81 ,
       0.61 ,   nan, 0.77 , 0.68 , 0.54 , 0.372, 0.8  , 0.95 , 0.88 ,
       0.98 , 0.81 , 0.89 , 0.81 , 0.553, 0.71 ,   nan, 0.83 , 0.75 ,
       0.29 , 0.74 ,   nan, 0.315,   nan,   nan, 0.95 , 0.77 , 0.312,
       0.21 , 0.95 , 0.92 , 0.89 , 0.89 , 0.97 , 0.05 , 0.79 ,   nan,
       0.86 ,   nan, 0.49 ,   nan, 0.74 , 0.246, 0.33 , 0.9  , 0.22 ,
       0.86 , 0.91 , 0.39 , 0.69 , 0.66 , 0.531, 0.56 , 0.76 , 0.96 ,
       0.86 , 0.84 , 0.57 , 0.77 , 0.78 , 0.84 ,   nan,   nan, 0.21 ,
       0.17 , 0.65 ])

In [76]:
global_out_file = 'global_indicators.csv'
bridges_out_file = 'bridges_dataset.csv'

df_global.to_csv(global_out_file)
df_bridges.to_csv(bridges_out_file)